CONFIG_IDF_TARGET="esp32s3"
# Safe GPIOs to use for esp32s3: 4, 5, 6, 7, 15, 16
CONFIG_IDF_TARGET_ESP32S3=y
CONFIG_WATER_LEVEL_LED_GPIO=38
CONFIG_WATER_LEVEL_LED_BRIGHTNESS=100
CONFIG_WATER_LEVEL_RELAY_GPIO=5
CONFIG_WATER_LEVEL_SENSOR_ADC_CHANNEL=0
CONFIG_WATER_LEVEL_SENSOR_DIGITAL_INPUT=y
CONFIG_WATER_LEVEL_SENSOR_DIGITAL_ACTIVE_HIGH=y
CONFIG_WATER_LEVEL_SENSOR_DIGITAL_PULL_NONE=y
CONFIG_WATER_LEVEL_SENSOR_SAMPLE_COUNT=8
CONFIG_WATER_LEVEL_SENSOR_THRESHOLD_MV=3000
CONFIG_WATER_LEVEL_SENSOR_DISCONNECT_MV=1000
CONFIG_WATER_LEVEL_POLL_PERIOD_MS=200
CONFIG_DOSER_COUNT=2
CONFIG_DOSER1_GPIO=7
CONFIG_DOSER2_GPIO=15
CONFIG_DOSER_MS_PER_ML=2000
